
@{
    ViewBag.Title = "Welcome";
}

Welcome to our department.

<li>@Html.ActionLink("Departmen-1,2 Page ", "Index", "Departmen2Pages")</li>
<li>@Html.ActionLink("Only Departmen-2 Page ", "OnlyDep2", "Departmen2Pages")</li>